:root {
    --dark-color: hsl(var(--hue), 100%, 9%);
    --light-color: hsl(var(--hue), 95%, 98%);
    --base: hsl(var(--hue), 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
    --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
  
    --font-family: "Poppins", system-ui;
  
    --bg-gradient: linear-gradient(
      to bottom,
      hsl(var(--hue), 95%, 99%),
      hsl(var(--hue), 95%, 84%)
    );
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::selection {
    color: inherit; 
    background: transparent;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    max-width: 1920px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
    font-family: var(--font-family);
    color: var(--dark-color);
    background: var(--bg-gradient);
    line-height: 1.5;
  }

  a {
      color: inherit;
      text-decoration: none;
  }
  
  .orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity:.25;
    z-index: -1;
  }
  
  strong {
    font-weight: 600;
  }

  img {
    display: block;
    max-width: 100%;
  }

  h1, h2, h3, h4, h5 {
    font-weight: normal;
  }

  /* Overlay */
  
  .overlay {
    width: 100%;
    max-width: 1140px;
    max-height: 640px;
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .overlay__inner {
    max-width: 36rem;
  }
  
  .overlay__title {
    font-size: 1.875rem;
    line-height: 2.75rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 2rem;
  }
  
  .text-gradient {
    background-image: linear-gradient(
      45deg,
      var(--base) 25%,
      var(--complimentary2)
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .overlay__description {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 3rem;
  }
  
  .overlay__btns {
    width: 100%;
    max-width: 30rem;
    display: flex;
  }
  
  .overlay__btn {
    width: 50%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--light-color);
    background: var(--dark-color);
    border: none;
    border-radius: 0.5rem;
    cursor: not-allowed;
    transition: transform 150ms ease;
    outline-color: hsl(var(--hue), 95%, 50%);
  }
  
  .overlay__btn--colors:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .overlay__btn--transparent {
    background: transparent;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-width: 2px;
    margin-right: 0.75rem;
    outline: none;
  }
  
  .overlay__btn-emoji {
    margin-left: 0.375rem;
  }
  
  @media only screen and (max-width: 1140px) {
    .overlay {
      padding: 8rem 4rem;
    }
  }
  
  @media only screen and (max-width: 840px) {
    body {
      padding: 1.5rem;
    }
  
    .overlay {
      padding: 4rem;
      height: auto;
    }
  
    .overlay__title {
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
  
    .overlay__description {
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .overlay {
      padding: 1.5rem;
    }
  
    .overlay__btns {
      flex-wrap: wrap;
    }
  
    .overlay__btn {
      width: 100%;
      font-size: 0.75rem;
      margin-right: 0;
    }
  
    .overlay__btn:first-child {
      margin-bottom: 1rem;
    }
  }

  /* Draggable Tiles */
  /* Inspired by https://mad.ac */

  .grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .windows {
    position: absolute;
    inset: 0;
  }

  .windows .tile {
    position: fixed;
    overflow: hidden;
  }

  .windows .tile.bg-white {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .windows .tile .tile-header {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #f5f5f5;
    text-align: center;
  }

  .windows .tile .tile-header h3 {
    font-size: 1em;
    opacity: .75;
  }

  /* Tile Type is App List */

  .is-app-list ul {
    padding: 50px 30px 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .is-app-list ul li {
    width: 33.3333%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }

  .is-app-list ul li h4 {
    display: block;
    font-size: .85em;
    margin-top: 7px;
  }

  .is-app-list .app-icon {
    display: block;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
  }

  .is-app-list .wordpress-icon {
    background-color: #00749A;
  }

  .is-app-list .squarespace-icon {
    background-color: #111;
  }

  .is-app-list .carrd-icon {
    background-color: #454678;
  }

  .is-app-list .semplice-icon {
    background-color: #FFD301;
  }

  .is-app-list .webflow-icon {
    background-color: #4353FF;
  }

  .is-app-list .readymag-icon {
    background-color: #000;
  }

  .is-app-list .zyro-icon {
    background-color: #F6526E;
  }

  /* Tile Type is Tools List */

  .list-container {
    padding: 30px 20px;
  }

  .is-tools-list ul li {
    list-style: none;
    margin-bottom: 5px;
  }

  .is-tools-list ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 2em;
    transition: all 200ms ease-in;
  }

  .is-tools-list ul li a:hover {
    background-color: #f5f5f5;
  }

  .is-tools-list ul li img {
    margin-right: 10px;
  }

  /* Tile Type is Check List */

  .is-check-list {
    padding: 0 20px 20px;
  }

  .check-list__items {
    padding-top: 0.5em;
    padding-bottom: 1em;
  }

  .check-list__item {
    display: flex;
    align-items: center;
    color: var(--c-black);
    font-size: var(--fs-xsmall);
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem 0;
  }

  .check-list__item:last-of-type {
    border-bottom: none;
  }

  .check-list__item input[type=checkbox] {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px var(--dark-color);
    -webkit-appearance: none;
    cursor: pointer;
    transition: background-color 150ms ease,opacity 150ms ease;
    outline: 0;
  }

  .check-list__item input[type=checkbox]:checked {
    background-color: var(--dark-color);
  }

  .check-list__item input[type=text] {
    flex: 1;
    color: inherit;
    background: transparent;
    border: none;
    padding: 0;
    outline: 0;
    margin-left: 12px;
    width: 100%;
    font-size: 1.05em;
  }

  .check-list__item input[type=checkbox]:checked+* {
    text-decoration: line-through;
    opacity: .5;
}


  /* Moving Eyes */

 .face {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #ffcd00;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.face:hover {
  background: linear-gradient(180deg, #f44336, #f44336, #ffcd00);
}

.face:before {
  content: '';
  position: absolute;
  top: 45px;
  width: 37px;
  height: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  background: #b57700;
  transition: 0.5s;
}

.face:hover:before {
    top: 52px;
    width: 37px;
    height: 5px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background: #9d0b00;
}

.face .eyes {
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}

.face .eyes .eye {
    position: relative;
    top: -10px;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 3px;
    background: #fff;
    border-radius: 50%;
}

.face .eyes .eye:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 6px;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
}

h2 {
    position: absolute;
    top: 75px;
    font-size: 3em;
    color: #fff;
}

h2:last_child {
    position: absolute;
    top: initial;
    bottom: 75px;
    font-size: 3em;
    color: #fff;
}