:root {
    --dark-color: hsl(var(--hue), 100%, 9%);
    --light-color: hsl(var(--hue), 95%, 98%);
    --base: hsl(var(--hue), 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
    --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
  
    --font-family: "Poppins", system-ui;
  
    --bg-gradient: linear-gradient(
      to bottom,
      hsl(var(--hue), 95%, 99%),
      hsl(var(--hue), 95%, 84%)
    );
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::selection {
    color: inherit; 
    background: transparent;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    max-width: 1920px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
    font-family: var(--font-family);
    color: var(--dark-color);
    background: var(--bg-gradient);
    line-height: 1.5;
  }

  a {
      color: inherit;
      text-decoration: none;
  }

  li {list-style: none;}
  
  .orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity:.25;
    z-index: -1;
  }
  
  strong {
    font-weight: 600;
  }

  img {
    display: block;
    max-width: 100%;
  }

  h1, h2, h3, h4, h5 {
    font-weight: normal;
  }

  /* Draggable Tiles */
  /* Inspired by https://mad.ac */

  .grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .windows {
    position: absolute;
    inset: 0;
  }

  .windows .tile {
    position: fixed;
    overflow: hidden;
  }

  .windows .tile.bg-white {
    background: rgba(255, 255, 255, 1);
    border-radius: .5rem;
  }

  .windows .tile.box-shadow {
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  }

  .windows .tile .tile-header {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #f5f5f5;
    text-align: center;
  }

  .windows .tile .tile-header h3 {
    font-size: 1em;
    opacity: .75;
  }

  /* Tile Type is App List */

  .is-app-list ul {
    padding: 50px 30px 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .is-app-list ul li {
    width: 33.3333%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .is-app-list ul li h4 {
    display: block;
    font-size: .85em;
    margin-top: 7px;
  }

  .is-app-list .app-icon {
    display: block;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
  }

  .is-app-list .wordpress-icon {
    background-color: #00749A;
  }

  .is-app-list .squarespace-icon {
    background-color: #111;
  }

  .is-app-list .carrd-icon {
    background-color: #454678;
  }

  .is-app-list .semplice-icon {
    background-color: #FFD301;
  }

  .is-app-list .webflow-icon {
    background-color: #4353FF;
  }

  .is-app-list .readymag-icon {
    background-color: #000;
  }

  .is-app-list .zyro-icon {
    background-color: #F6526E;
  }

  /* Tile Type is Tools List */

  .list-container {
    padding: 30px 20px;
  }

  .is-tools-list ul li {
    margin-bottom: 5px;
  }

  .is-tools-list ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 2em;
    transition: all 200ms ease-in;
  }

  .is-tools-list ul li a:hover {
    background-color: #f5f5f5;
  }

  .is-tools-list ul li img {
    margin-right: 10px;
  }

  /* Tile Type is Check List */

  .is-check-list {
    padding: 0 20px 20px;
  }

  .check-list__items {
    padding-top: 0.5em;
    padding-bottom: 1em;
  }

  .check-list__item {
    display: flex;
    align-items: center;
    color: var(--c-black);
    font-size: var(--fs-xsmall);
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem 0;
  }

  .check-list__item:last-of-type {
    border-bottom: none;
  }

  .check-list__item input[type=checkbox] {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px var(--dark-color);
    -webkit-appearance: none;
    cursor: pointer;
    transition: background-color 150ms ease,opacity 150ms ease;
    outline: 0;
  }

  .check-list__item input[type=checkbox]:checked {
    background-color: var(--dark-color);
  }

  .check-list__item input[type=text] {
    flex: 1;
    color: inherit;
    background: transparent;
    border: none;
    padding: 0;
    outline: 0;
    margin-left: 12px;
    width: 100%;
    font-size: 1.05em;
  }

  .check-list__item input[type=checkbox]:checked+* {
    text-decoration: line-through;
    opacity: .5;
  }

  /* */

  .is-reading-list {
    padding: 20px 20px;
  }

  .is-reading-list li a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }

  .is-reading-list li a h4 {
    font-weight: bold;
  }

  .article-author {
    font-size: .85em;
  }

  /* Contact BTN */

  .btn {
    display: flex;
    padding: 20px 40px;
    background-color: #fff;
    font-size: 1.125em;
  }

  /* Tile is bullshit jobs */

  .is-bullshit {
    position: relative;
    padding: 10px 20px;
    width: 100%;
    height: 150px;
  }

  .is-bullshit h2 {
    font-size: 1.5em;
    line-height: 1.15em;
    font-weight: 700;
  }

  .is-bullshit .text-gradient {
    background-image: linear-gradient(
      45deg,
      var(--base) 25%,
      var(--complimentary2)
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }


  .is-bullshit .hashtag {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--light-color);
    background: var(--dark-color);
    background-image: linear-gradient(
      45deg,
      var(--base) 25%,
      var(--complimentary2)
    );
    border: none;
    border-radius: 1rem;
    transition: transform 150ms ease;
    outline-color: hsl(var(--hue), 95%, 50%);
  }
    
  
  /* Moving Eyes */

 .face {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #ffcd00;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.face:hover {
  background: linear-gradient(180deg, #f44336, #f44336, #ffcd00);
}

.face:before {
  content: '';
  position: absolute;
  top: 45px;
  width: 37px;
  height: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  background: #b57700;
  transition: 0.5s;
}

.face:hover:before {
    top: 52px;
    width: 37px;
    height: 5px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background: #9d0b00;
}

.face .eyes {
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}

.face .eyes .eye {
    position: relative;
    top: -10px;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 3px;
    background: #fff;
    border-radius: 50%;
}

.face .eyes .eye:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 6px;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
}

/* Analog Clock 
Inspired by 
https://codepen.io/imvpn22/pen/RwPvOgQ*/

.clock {
	display: flex;
	justify-content: center;
	align-items: center;
  width: 140px;
  height: 140px;
	background-color: #fff;
	background-image: url("https://imvpn22.github.io/analog-clock/clock.png");
	background-position: center center;
	background-size: cover;
	border-radius: 50%;
	border: 4px solid var(--dark-color);
	transition: all ease 0.2s;
}
.clock:before {
	content: "";
	height: 0.75rem;
	width: 0.75rem;
	background-color: var(--dark-color);
	border: 2px solid #fff;
	position: absolute;
	border-radius: 50%;
	z-index: 1000;
	transition: all ease 0.2s;
}
.hour,
.min,
.sec {
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 50%;
}

.hour {
	height: 79px;
	width: 79px;
}

.hour:before {
	content: "";
	position: absolute;
	height: 50%;
	width: 2px;
	background-color: var(--dark-color);
	border-radius: 2px;
}
.min {
	height: 90px;
	width: 90px;
}
.min:before {
	content: "";
	height: 50%;
	width: 2px;
	background-color: var(--dark-color);
	border-radius: 2px;
}
.sec {
	height: 95px;
	width: 95px;
}
.sec:before {
	content: "";
	height: 60%;
	width: 1px;
	background-color: #ff726b;
	border-radius: 2px;
}

/* Day Card */

.day-card {
  display: flex;
  background-color: #ff726b;
  border-radius: .5em;
}

.day-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  text-align: center;
  width: 100%;
  color: #fff;
}

#date {
  font-size: 65px;
  line-height: .9em;
}
